# Mengabaikan file sistem dan sampah

__pycache__/
*.pyc

# Mengabaikan file penting
.env

# Mengabaikan file basis data SQLite
datasets/retail.db  
datasets/transaction_data.csv
datasets/product.csv
datasets/hh_demographics.csv

# Mengabaikan report
report/